body{
   background: 4px white;
   font-family: 'Raleway', sans-serif;
   color: #fff;
   font-weight: bold;
   background-image: url('Florianopolis.jpg');
   min-height: 100vh;
   /*width:100%;*/
   background-position:top;
   background-size:cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   padding-bottom: 100px;
}
#table1 td{
    border: none !important;
}
.footer{
    background-color: #1F1F1F;
    padding: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
}
.chart-container{
  position: relative;
  margin: auto;
  height: 50vh;
  width: 50vw;
}
