body{
   background:#fff;
   font-family: 'Raleway', sans-serif;
   color: #fff;
   background:url('Florianopolis.jpg');
   height:100vh;
   width:100%;
   background-position:top;
   background-size:cover;
   background-repeat: no-repeat;
}

.banner .form{
  border-style: solid;
  margin-left: 700px;
  margin-right: 700px;

}
