body{
   background:#fff;
   font-family: 'Raleway', sans-serif;
   color: #fff
}
.banner{
   height:100vh;
   width:100%;
   background:url('Florianopolis.jpg');
   background-position:top;
   background-size:cover;
   background-repeat: no-repeat;
}
.banner .form{
  border-style: groove;
  margin-left: 750px;
  margin-right: 750px;

}
