body{
   background: 4px white;
   font-family: 'Raleway', sans-serif;
   color: #fff;
   background:url('Florianopolis.jpg');
   height:100vh;
   width:100%;
   background-position:top;
   background-size:cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
#table1 td{
    border: none !important;
}

