<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Weather Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Extends.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
<!--Footer-->
    <link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</head>
<body>
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'WeatherApp:home' %}">Get any City Weather!!!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'WeatherApp:current' %}">Current Weather <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'WeatherApp:hourly' %}">Hourly Weather</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'WeatherApp:average' %}">Weather Average</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'WeatherApp:max_min' %}">Max and Min</a>
      </li>
      <li class="nav-item">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'WeatherApp:graphics' %}">Weather Graphics</a>
      </li>
      <li class="nav-item">
      <li class="nav-item">
        <a class="nav-link disabled" href="https://www.epochconverter.com/" tabindex="-1" aria-disabled="true">Epoch</a>
      </li>
    </ul>
  </div>
</nav>
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-lg-12">
      <form class="post-form" width=200px method="POST">
          {% csrf_token %}
          {{form.as_p}}
          <button type="submit" class="btn btn-primary">Save</button>
      </form>
      <div class="{{message_class}}" role="alert">{{message}}</div>
        <br>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>City</th>
                    <th>Date</th>
                    <th>Temperature</th>
                    <th>Humidity</th>
                    <th>Wind Speed</th>
                    <th>Pressure</th>
                    <th>Icon</th>
                </tr>
            </thead>
            <tbody>
                {% for Current_Dict in Current_List %}
                        <tr>
                            <td>{{ Current_Dict.Id }}</td>
                            <td>{{ Current_Dict.City }}</td>
                            <td>{{ Current_Dict.Date }}</td>
                            <td>{{ Current_Dict.Temperature }} ºF</td>
                            <td>{{ Current_Dict.Humidity }} %</td>
                            <td>{{ Current_Dict.Wind_Speed }} Km/h</td>
                            <td>{{ Current_Dict.Pressure }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Current_Dict.Icon }}@2x.png" class="media-object" style="width:60px"></td>
                            <td><a class="btn btn-danger" href="{% url 'WeatherApp:delete_current_city' Current_Dict.Id %}" role="button">Delete</a></td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    </div>
</div>
{% endblock %}
<footer class="footer">
    <div id="copy-area">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <p>Project created by: Lucas Búrigo</p>
            </div>
        </div>
      </div>
    </div>
  </footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>

