{% extends "WeatherApp/Current_Weather.html" %}

{% block content %}
    <div class="container">
        <div class="row">
        <div class="col-lg-12">
    <form class="post-form" width=200px method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <br>
        <br>
            {% for Hourly_Dict in Hourly_List %}
                <h1>{{Hourly_Dict.Address}}</h1>
                <table class="table" id="table1">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Temperature</th>
                            <th>Humidity</th>
                            <th>Wind Speed</th>
                            <th>Pressure</th>
                            <th>Icon</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ Hourly_Dict.Horario23 }}</td>
                            <td>{{ Hourly_Dict.Temperature23 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity23 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed23 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure23 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon23 }}@2x.png" class="media-object" style="width:60px"></td>
                            <td><a href="{% url 'WeatherApp:delete_hourly_city' Hourly_Dict.Id %}">X</a></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario22 }}</td>
                            <td>{{ Hourly_Dict.Temperature22 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity22 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed22 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure22 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon22 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario21 }}</td>
                            <td>{{ Hourly_Dict.Temperature21 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity21 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed21 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure21 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon21 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario20 }}</td>
                            <td>{{ Hourly_Dict.Temperature20 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity20 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed20 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure20 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon20 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario19 }}</td>
                            <td>{{ Hourly_Dict.Temperature19 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity19 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed19 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure19 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon19 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario18 }}</td>
                            <td>{{ Hourly_Dict.Temperature18 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity18 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed18 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure18 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon18 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario17 }}</td>
                            <td>{{ Hourly_Dict.Temperature17 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity17 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed17 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure17 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon17 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario16 }}</td>
                            <td>{{ Hourly_Dict.Temperature16 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity16 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed16 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure16 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon16 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario15 }}</td>
                            <td>{{ Hourly_Dict.Temperature15 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity15 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed15 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure15 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon15 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario14 }}</td>
                            <td>{{ Hourly_Dict.Temperature14 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity14 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed14 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure14 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon14 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario13 }}</td>
                            <td>{{ Hourly_Dict.Temperature13 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity13 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed13 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure13 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon13 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario12 }}</td>
                            <td>{{ Hourly_Dict.Temperature12 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity12 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed12 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure12 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon12 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario11 }}</td>
                            <td>{{ Hourly_Dict.Temperature11 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity11 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed11 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure11 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon11 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario10 }}</td>
                            <td>{{ Hourly_Dict.Temperature10 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity10 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed10 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure10 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon10 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario9 }}</td>
                            <td>{{ Hourly_Dict.Temperature9 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity9 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed9 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure9 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon9 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario8 }}</td>
                            <td>{{ Hourly_Dict.Temperature8 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity8 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed8 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure8 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon8 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario7 }}</td>
                            <td>{{ Hourly_Dict.Temperature7 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity7 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed7 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure7 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon7 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario6 }}</td>
                            <td>{{ Hourly_Dict.Temperature6 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity6 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed6 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure6 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon6 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario5 }}</td>
                            <td>{{ Hourly_Dict.Temperature5 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity5 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed5 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure5 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon5 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario4 }}</td>
                            <td>{{ Hourly_Dict.Temperature4 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity4 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed4 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure4 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon4 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario3 }}</td>
                            <td>{{ Hourly_Dict.Temperature3 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity3 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed3 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure3 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon3 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario2 }}</td>
                            <td>{{ Hourly_Dict.Temperature2 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity2 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed2 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure2 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon2 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario1 }}</td>
                            <td>{{ Hourly_Dict.Temperature1 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity1 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed1 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure1 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon1 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    <tr>
                            <td>{{ Hourly_Dict.Horario0 }}</td>
                            <td>{{ Hourly_Dict.Temperature0 }} ºF</td>
                            <td>{{ Hourly_Dict.Humidity0 }} %</td>
                            <td>{{ Hourly_Dict.Wind_speed0 }} Km/h</td>
                            <td>{{ Hourly_Dict.Pressure0 }} hPa</td>
                            <td><img src="http://openweathermap.org/img/wn/{{ Hourly_Dict.Icon0 }}@2x.png" class="media-object" style="width:60px"></td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}

        </div>
        </div>
    </div>
{% endblock %}