{% extends "WeatherApp/Current_Weather.html" %}

{% block content %}
    <div class="container">
        <div class="row">
        <div class="col-lg-12">
    <form class="post-form" width=200px method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <br>
        <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>City</th>
                        <th>Max Temperature</th>
                        <th>Min Temperature</th>
                        <th>Max Humidity</th>
                        <th>Min Humidity</th>
                        <th>Max Wind Speed</th>
                        <th>Min Wind Speed</th>
                        <th>Max Pressure</th>
                        <th>Min Pressure</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Max_Min_Dict in Max_Min_List %}
                            <tr>
                                <td>{{ Max_Min_Dict.Id }}</td>
                                <td>{{ Max_Min_Dict.Address }}</td>
                                <td>{{ Max_Min_Dict.Max_Temperature }}ºF</td>
                                <td>{{ Max_Min_Dict.Min_Temperature }}ºF</td>
                                <td>{{ Max_Min_Dict.Max_Humidity }}%</td>
                                <td>{{ Max_Min_Dict.Min_Humidity }}%</td>
                                <td>{{ Max_Min_Dict.Max_WindSpeed }}Km/h</td>
                                <td>{{ Max_Min_Dict.Min_WindSpeed }}Km/h</td>
                                <td>{{ Max_Min_Dict.Max_Pressure }}hPa</td>
                                <td>{{ Max_Min_Dict.Min_Pressure }}hPa</td>
                                <td><a class="btn btn-danger" href="{% url 'WeatherApp:delete_max_min_city' Max_Min_Dict.Id %}" role="button">Delete</a></td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        </div>
    </div>
{% endblock %}