<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewreport" content="width=device-width, initial-scale=1.0">
    <title>Weather Page</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/boostrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Weather.css' %}"/>
</head>
<body>
<!--    <div class="container-fluid banner">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--                <nav class="navbar navbar-md ">-->
<!--                    <div class="navbar-brand">-->
<!--                        What´s the weather like?-->
<!--                    </div>-->
<!--                </nav>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="container form">-->
            <form class="post-form" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
        {% if response.status_code == 200 %}
                <div class="post">
                    <p>{{ context.City }}</p>
                    <p>{{ context.Temperature}} ºF</p>
                    <p>{{ context.Humidity }} %</p>
                    <p>{{ context.Wind_Speed }} Km/h</p>
                    <p>{{ context.Pressure }} hPa</p>
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>